<% provide(:title, 'Home') %>
<h1>Cameron Blair</h1>
<p>He's pretty great</p>
<div class="row"> 
  <div class="col-md-6"> 
    <div class="well">
      <p>With experience in multiple languages including Ruby on Rails, JavaScript, JQuery, AngularJS, HTML5, MYSQL, and more Cameron has control over a full-stack development environment and thrives on problem solving and team collaboration. </p>
      <p>Seeing a need for change in his life, Cameron pursued a career change into the realm of web development and found a home in the community. He has since pursued multiple job opportunities and continuously sought ways to improve his skills as a web developer.</p>
    </div>
  </div>
  <div class="col-md-6">
    <%= image_tag('HeadShot4.jpg', class:"img-responsive portrait", alt:"Portrait")  %>
  </div>
</div> 
<div class="row">
  <div class="col-md-8"></div>
    <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="100%" colspan="2" height="22">
        <center>
          <script>
            if (linkornot==1)
              document.write('<a href="javascript:transport()">')
              document.write('<img src="'+photos[0]+'" name="photoslider" style="filter:revealTrans(duration=2,transition=23)" border=0>')
            if (linkornot==1)
              document.write('</a>')
          </script>
        </center>
      </td>
    </tr>
    <tr>
      <td width="50%" height="21"><p align="left"><a href="#" onClick="backward();return false">Previous Slide</a></td>
      <td width="50%" height="21"><p align="right"><a href="#" onClick="forward();return false">Next Slide</a></td>
    </tr>
  </table>
</div>