<%= form_for @task, remote: true do |f| %>
    <%= f.label :description %>
    <%= f.text_field, class: 'form-control' %>
    
    <%= f.label :deadline %>
    <%= f.date_fiel, class: 'form-control' %>
    
    <%= f.button 'Submit', class: 'btn btn-default'%>
<% end %>