<% provide(:title, "Contact") %>
<div class="row">
    <div class="col-md-4 col-md-offset-4 animated fadeInLeftBig">
      <h1>Contact me!</h1>
      <p>If you have any questions, comments, or just have a desire to reach out to me:
      you can fill out the following form or reach me at any of my follow contact points</p>
        <div class="well">
          <%= form_for @contact do |f| %>
              <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: 'form-control' %>
              </div>
              
              <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, class: 'form-control' %>
              </div>
              
              <div class="form-group">
                  <%= f.label :comments %>
                  <%= f.text_area :comments, class: 'form-control' %>
              </div>
              
              <%= f.submit 'Submit', class: 'btn btn-default'%>
        
            <% end %>
        </div>
    </div>
</div>