<header class="navbar navbar-top navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <%= link_to "Cameron Blair", root_path, id: 'logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Contact", new_contact_path %></li>
      </ul>
    </nav>
  </div>
</header>